.formControl .error input,
.formControl .error textarea {
    border: 2px solid red;
}

.formControl span {
    font-weight: 600;
    color: red
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: darkorange;
}